/* Guitar Single */
.fg-guitar-main-image {
  aspect-ratio: 1920 / 750;
  background-color: #000000;
}

.fg-guitar-gallery-wrapper {
  background-color: #000000;
  padding-bottom: 40px;
  padding-top: 20px;

  h3 {
    color: #fff;
  }
}

.fg-guitar-gallery {
  --fg-guitar-gallery-cols: 3;
  background-color: #000000;
  display: grid;
  grid-template-columns: repeat(var(--fg-guitar-gallery-cols), minmax(0, 1fr));
  gap: 20px;

  @media (min-width: $breakpoint-small) {
    --fg-guitar-gallery-cols: 3;
  }

  @media (min-width: $breakpoint-medium) {
    --fg-guitar-gallery-cols: 6;
  }

  & > a {
    aspect-ratio: 1;
    border: 1px solid $base-hr-border;
    //overflow: hidden;
    //position: relative;
    //margin: 20px;

    & > img {
      //object-fit: cover;
      //left: 50%;
      //position: absolute;
      //top: 50%;
      //transform: translate(-50%, -50%);
    }
  }
}

.fg-guitar-thumbs {
  @media (min-width: $breakpoint-medium) {
    a {
      float: right;
    }

    img {
      max-width: 100px;
    }
  }
}

.fg-guitar-slideshow {
  .fg-guitar-thumbs {
    @media (min-width: $breakpoint-medium) {
      img {
        max-width: 80px;
      }
    }
  }

  .uk-thumbnav > * > *:after {
    display: none;
  }

  .uk-thumbnav img {
    border: 1px solid transparent;
  }

  .uk-thumbnav > .fg-guitar-thumbs.uk-active img,
  .uk-thumbnav > .fg-guitar-thumbs img:hover {
    border-color: $base-hr-border;
  }
}

.fg-short-description {
  dd {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

/* Description List */
@media (min-width: 768px) {
  .uk-description-list.horizontal > dt {
    clear: both;
    float: left;
    font-size: 1rem;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
  }
  .uk-description-list.horizontal > dd {
    margin-left: 180px;
  }
}

/* Videos */
.fg-sounds.fg-read-more__block {
  height: 400px;
}

/* Specs */
.fg-specs-variations-tabs {
  li {
    align-self: flex-end;
  }
}

.fg-specs {
  > div:last-child {
    .uk-table tr:first-child {
      @media (max-width: $breakpoint-small-max) {
        border-top: $table-divider-border-width solid $table-divider-border;
      }
    }
  }
}

/* Custom specs */
.fg-specifications {
  .uk-heading-divider {
    border-color: $base-hr-border;
  }
}

.fg-custom-specs-group {
  &__item {
    &__name,
    &__value {
      @include flex(50%);
      box-sizing: border-box;
      word-break: break-word;
    }

    &__name {
      padding-right: 5px;
    }

    &__value {
      padding-left: 5px;
      text-align: right;

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/* Available guitars */
.fg-available-guitars-wrapper {
  margin-top: 60px;
}

.fg-available-guitar {
  &__specs,
  &__price,
  &__button {
    flex: 0 0 auto;
  }

  &__availability {
    @include flex(17%);

    p {
      margin: 0;
    }
  }

  &__photo {
    @include flex(32%);
  }

  &__button {
    .uk-button {
      //padding: 0 20px;
    }
  }
}

/* Reviews */
.fg-reviews {
  &.fg-read-more__block {
    height: 200px;
  }

  .fg-review {
    &.no-border {
      hr {
        display: none;
      }
    }

    @media (max-width: ($breakpoint-small - 1)) {
      &.no-border:nth-last-child(2) {
        hr {
          display: block;
        }
      }
    }
  }
}