.woocommerce {
  ul.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 30px;

    @include remove_clearfix();

    li.product {
      float: none;
      margin: 0;
      width: 100% !important;

      .price{
        color: $global-link-color;
      }

      .button {
        background-color: $global-link-color;
        border-radius: 0;
        color: #ffffff;
        font-weight: normal;
      }
    }

    li.last {
    }
  }
}