.woocommerce,
.woocommerce-page {
  div.product,
  #content div.product {
    display: grid;
    gap: 30px;

    @media (min-width: $breakpoint-small) {
      grid-template-columns: 1fr 1fr;
    }

    div.images {
      float: none;
      width: 100%;
    }

    div.summary {
      float: none;
      width: 100%;
    }

    p.price {
      color: $global-link-color;
      font-size: 1.5rem;
    }

    form.cart {
      .single_add_to_cart_button {
        @extend .button;
      }
    }

    div.fg-product-content {
      @media (min-width: $breakpoint-small) {
        grid-column: 1 / -1;
      }
    }
  }
}